# Data Wrangling on WeRateDogs Tweets
by Shan Jafri

In a world where data is abundent gathering and cleaning data is necessary for any data scientist to extract valuable insights. The focus of this project is to gather data from multiple sources, assess dirty data and then clean the data. The last step of the project is to show several insights from the clean data set.

# Gather
In this project, data was gathered from three sources:

- The WeRateDogs twitter archive that was provided by Udacity as a csv file.
- The image prediction file that was hosted by Udacity serves and downloaded programmatically using request libary
- Using twitters API and python's tweepy library, any missing information from WeRateDogs twiiter archive such as retweet counts and favorite counts are gathered. The tweet IDs in the WeRateDogs Twitter archive will be use to query the Twitter API for each JSON structure tweet using Python's Tweepy library and in a file called tweet_json.txt file. Each JSON formatted tweet should be written to its own line in a text file and then read line by line into a pandas DataFrame.

** Let's begin gathering data!**

In [105]:
# Import the libaries needed for this project
import pandas as pd 
import numpy as np 
import requests
import os
import tweepy
import json
from timeit import default_timer as timer
import re

In [20]:
# Open twitter archive enhanced and read file in pandas
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
# view the file 
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

** The file twitter archive has 17 columns and 2356 entries.**

In [21]:
# Request image prediction file from Udacity Server and read in Pandas
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

with open (url.split('/')[-1], mode = 'wb') as file:
    file.write(response.content)

image_prediction = pd.read_csv('image-predictions.tsv', sep = '\t')

In [84]:
# View image prediction file 
image_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

#### Extracting data using Twitters API

In [23]:
# token and keys
consumer_key = '6GF8J1A1tZQODiu5Hch3O8Mru'
consumer_secret = 'dAQWLTIeGCYWHWCBUHaOR7QA3KVdfLaHsqky54lecigFkt2K6V'
access_token = '1047201527423815680-cnOWUtr4zWolbcFrkWabmzrvWK4BZ8'
access_token_secret = '8wMkUZH6pUQnwQU0IyX3XPwctA30yAf81tTFDZNV7Cn8P' 

# Authenticating user access
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Contruct the API instance
api = tweepy.API(auth, 
                 parser=tweepy.parsers.JSONParser(), # parse the results to JSON objects 
                 wait_on_rate_limit=True, # Automatically wait for rate limits to replenish
                 wait_on_rate_limit_notify=True) # Print notification when Tweepy is waiting to replenish

In [24]:
# Store the results
tweet_dic = []
# Store tweet error
error = []

start = timer() # Calculating the length of time
# Get tweet JSON objects for all tweets in twitter archive data set
for tweet in twitter_archive['tweet_id']:
    try:
        tweet_data = api.get_status(tweet, tweet_mode = 'extended')
        # Get JSON Data of retweet and favorite count
        retweets = tweet_data['retweet_count']
        favorites = tweet_data['favorite_count']
        
        tweet_dic.append({'tweet_id': tweet,
                          'retweet': retweets,
                          'favorite': favorites})
        
    # Catch the exceptions of the TweepError
    except Exception as e:
        print(str(tweet)+ " _ " + str(e))
        error.append(tweet)

888202515573088257 _ [{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921 _ [{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937 _ [{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329 _ [{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744 _ [{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320 _ [{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705 _ [{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648 _ [{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308 _ [{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977 _ [{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832 _ [{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464 _ [{'code': 144, 'message': 'No status found with that ID.'}]
770743923962707968 _ [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 598

754011816964026368 _ [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 601

In [25]:
# lengh of the result
print("The lengh of the result", len(tweet_dic))
# The tweet_id of the errors
print("The lengh of the errors", len(error))

The lengh of the result 2342
The lengh of the errors 14

In [26]:
# Store tweet error
second_error = []

start = timer() # Calculating the length of time
# Get tweet JSON objects for all tweets in twitter archive data set
for er in error:
    try:
        tweet_data = api.get_status(tweet, tweet_mode = 'extended')
        # Get JSON Data of retweet and favorite count
        retweets = tweet_data['retweet_count']
        favorites = tweet_data['favorite_count']
        
        tweet_dic.append({'tweet_id': tweet,
                          'retweet': retweets,
                          'favorite': favorites})
        
    # Catch the exceptions of the TweepError
    except Exception:
        print(str(tweet)+ " _ " + str(e))
        second_error.append(er)
end = timer()
print(end - start)

5.6570282070024405

In [27]:
# write json object into text file
with open('tweet_json.txt', 'w') as outfile:
    json.dump(tweet_dic, outfile)

# Turn JSON file into a DataFrame
json_df = pd.read_json('tweet_json.txt')

In [28]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 3 columns):
favorite    2356 non-null int64
retweet     2356 non-null int64
tweet_id    2356 non-null int64
dtypes: int64(3)
memory usage: 55.3 KB

### Gathering Summary

The first step of data wrangling process is complete. 
- data is downloaded from exisiting file
- data is requested and downloaded from a Udacity server 
- data is query from titter's API
- All three data is gathered and imported into Jupyter Notebook

## Assess

The gathered data has to be assessed for the range of the cleaning issues required. When assessing, the type of cleaning is broken into two categories, tidy and dirty data issues. Below are each data issue that need to be address.

#### Json dataframe

In [29]:
# Check number of columns and entries
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 3 columns):
favorite    2356 non-null int64
retweet     2356 non-null int64
tweet_id    2356 non-null int64
dtypes: int64(3)
memory usage: 55.3 KB

In [30]:
# Visual inspection of data set
json_df

      favorite  retweet            tweet_id
0        38281     8394  892420643555336193
1        32809     6194  892177421306343426
2        24706     4099  891815181378084864
3        41603     8527  891689557279858688
4        39785     9241  891327558926688256
5        19961     3073  891087950875897856
6        11690     2040  890971913173991426
7        64618    18628  890729181411237888
8        27452     4214  890609185150312448
9        31497     7286  890240255349198849
10       30269     7233  890006608113172480
11       27429     4911  889880896479866881
12       47504     9926  889665388333682689
13       26821     4484  889638837579907072
14       14909     2211  889531135344209921
15       24924     5311  889278841981685760
16       28710     4440  888917238123831296
17       25240     4241  888804989199671297
18       19587     3505  888554962724278272
19       21473     3450  888078434458587136
20       29781     5319  887705289381826560
21       45671    11510  887517139158093824
22       68212    17943  887473957103951883
23       33247    10269  887343217045368832
24       30170     5886  887101392804085760
25       34705     7676  886983233522544640
26       11893     3240  886736880519319552
27       22148     4405  886680336477933568
28       20910     3160  886366144734445568
29         116        4  886267009285017600
...        ...      ...                 ...
2326       153       67  666099513787052032
2327       163       73  666094000022159362
2328       116       44  666082916733198337
2329       319      162  666073100786774016
2330       145       59  666071193221509120
2331       471      216  666063827256086533
2332       111       57  666058600524156928
2333       294      141  666057090499244032
2334       432      246  666055525042405380
2335      1208      842  666051853826850816
2336       132       59  666050758794694657
2337       107       40  666049248165822465
2338       296      139  666044226329800704
2339       125       44  666033412701032449
2340       129       47  666029285002620928
2341      2544      508  666020888022790149
2342      2544      508  666020888022790149
2343      2544      508  666020888022790149
2344      2544      508  666020888022790149
2345      2544      508  666020888022790149
2346      2544      508  666020888022790149
2347      2544      508  666020888022790149
2348      2544      508  666020888022790149
2349      2544      508  666020888022790149
2350      2544      508  666020888022790149
2351      2544      508  666020888022790149
2352      2544      508  666020888022790149
2353      2544      508  666020888022790149
2354      2544      508  666020888022790149
2355      2544      508  666020888022790149

[2356 rows x 3 columns]

In [31]:
# Check number of duplicate tweets
json_df.duplicated(subset= ['tweet_id','favorite','retweet']).sum()

14

#### Twitter archive dataframe

In [33]:
# Number of columns and duplicates
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [34]:
# Visual inspection of data set
twitter_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the GalÃ¡pagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [85]:
# number of duplicate tweets
twitter_archive.duplicated(['tweet_id']).sum()

0

In [86]:
# Name columns shows incorrect dog names
twitter_archive.name

0        Phineas
1          Tilly
2         Archie
3          Darla
4       Franklin
5           None
6            Jax
7           None
8           Zoey
9         Cassie
10          Koda
11         Bruno
12          None
13           Ted
14        Stuart
15        Oliver
16           Jim
17          Zeke
18       Ralphus
19        Canela
20        Gerald
21       Jeffrey
22          such
23        Canela
24          None
25          None
26          Maya
27        Mingus
28         Derek
29        Roscoe
          ...
2326       quite
2327           a
2328        None
2329        None
2330        None
2331        None
2332        None
2333          an
2334           a
2335          an
2336        None
2337        None
2338        None
2339        None
2340        None
2341        None
2342        None
2343        None
2344        None
2345         the
2346         the
2347           a
2348           a
2349          an
2350           a
2351        None
2352           a
2353           a
2354           a
2355        None
Name: name, Length: 2356, dtype: object

### Image Prediction DataFrame

In [87]:
image_prediction

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [88]:
image_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [89]:
# Search for duplicates
image_prediction.duplicated('tweet_id').sum()

0

In [90]:
# Search for duplicates
image_prediction.duplicated(subset = ['jpg_url']).sum()

66

In [91]:
image_prediction.isna().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

### Quality
  ##### Twitter_archive


- tweet_id should be a string instead of an integer, timestamp column should be datetime data type, in_reply_to_status_id/user_id, retweeted_status_id/user_id should be srings instead of float, ratings_numerator/denominator, retweets, and favorites should be integers instead of floats

- Correct ratings scores 
- Correct dog descriptions
- 'Name' columns have incorrect names like 'a', 'such', 'None'
- rename columns 'text' = 'tweet_text', 'name' = 'dog_name', 'source' = 'source_application'
- Only interested in unique ratings, no retweets 
   
  ##### Image_prediction
- Tweet_id should be a string instead of an integer
- Some tweet_ids have the same jpg_url


  ##### json dataframe
- remove any duplicate tweet_id's


### Tidiness

- Merge all data tables together
- Dog description in columns instead of rows



### Cosmetic  Issues
- Drop unnecessary columns and NaN rows
- Retweeted_status_id/user_id should be dropped
- Too many columns in image prediciton could condense
- Source columncan be cleaned
- Missing values from images dataset only 2075 entires

Cleaning tidy data issues first is often the best way to start. When structral data issues are solved, cleaning quality data issues become simpler.

** Let's begin cleaning**

## Clean

In [405]:
# First step is to create a copy 
json_clean = json_df.copy()
twitter_clean = twitter_archive.copy()
image_clean = image_prediction.copy()

### Tidiness Data Cleaning

### Tidy Data Issue 1
 - Merge all data tables together

In [406]:
# The first step is going to merge all the data sets together.
twitter_master = pd.merge(twitter_clean, json_clean, how = 'left', on = 'tweet_id')
twitter_master = pd.merge(twitter_master, image_clean, how = 'left', on = 'tweet_id')

### Test Data Issue 1

In [407]:
# view twitter_master dataframe
twitter_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2370 entries, 0 to 2369
Data columns (total 30 columns):
tweet_id                      2370 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2370 non-null object
source                        2370 non-null object
text                          2370 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2311 non-null object
rating_numerator              2370 non-null int64
rating_denominator            2370 non-null int64
name                          2370 non-null object
doggo                         2370 non-null object
floofer                       2370 non-null object
pupper                        2370 non-null object
puppo                         2370 non-null object
favorite                      2356 non-null float64
retweet                       2356 non-null float64
jpg_url                       2089 non-null object
img_num                       2089 non-null float64
p1                            2089 non-null object
p1_conf                       2089 non-null float64
p1_dog                        2089 non-null object
p2                            2089 non-null object
p2_conf                       2089 non-null float64
p2_dog                        2089 non-null object
p3                            2089 non-null object
p3_conf                       2089 non-null float64
p3_dog                        2089 non-null object
dtypes: float64(10), int64(3), object(17)
memory usage: 574.0+ KB

The large data table has many columns than can be condensed and will look good cosmetically.

In [408]:
# Too many columns in image prediciton could condense
#dog prediction that are have labeled as True starting with the first prediction
#and move down to second and third predictions are kept and put into 'predicted_dog' column. 
#The algorithm's confidence is stored in the 'confidence_algore' column.
predicted_dog = []
confidence_algore = []
def something(data):
    if data['p1_dog'] == True:
        predicted_dog.append(data['p1'])
        confidence_algore.append(data['p1_conf'])
    elif data['p2_dog'] == True:
        predicted_dog.append(data['p2'])
        confidence_algore.append(data['p2_conf'])
    elif data['p3_dog'] == True:
        predicted_dog.append(data['p3'])
        confidence_algore.append(data['p3_conf'])
    else:
        predicted_dog.append('NaN')
        confidence_algore.append(0)
# Too many columns in image prediciton could condense
twitter_master.loc[:, 'p1': 'p3_dog'].apply(something, axis = 1)
twitter_master['predicted_dog'] = np.array(predicted_dog)
twitter_master['confidence_algore'] = np.array(confidence_algore)
# Too many columns in image prediciton could condense
twitter_master.drop(columns = twitter_master.loc[:,'img_num':'p3_dog'].columns, inplace = True)

Source column can be cleaned to only indicate source instead of entire link

In [409]:
# Clean the source column
twitter_master['source'] = twitter_master['source'].apply(lambda x: re.findall(r'>(.*)<', x)[0])

In [410]:
twitter_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2370 entries, 0 to 2369
Data columns (total 22 columns):
tweet_id                      2370 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2370 non-null object
source                        2370 non-null object
text                          2370 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2311 non-null object
rating_numerator              2370 non-null int64
rating_denominator            2370 non-null int64
name                          2370 non-null object
doggo                         2370 non-null object
floofer                       2370 non-null object
pupper                        2370 non-null object
puppo                         2370 non-null object
favorite                      2356 non-null float64
retweet                       2356 non-null float64
jpg_url                       2089 non-null object
predicted_dog                 2370 non-null object
confidence_algore             2370 non-null float64
dtypes: float64(7), int64(3), object(12)
memory usage: 425.9+ KB

### Tidy Data Issue 2 & 3

- Only interested in unique ratings, no retweets
- Drop duplicate tweet_ids

In [411]:
# Row entries that have retweets need to be dropped
twitter_master = twitter_master[pd.isnull(twitter_master['retweeted_status_id'])]

# Drop duplicate tweet_id total of 14 rows
twitter_master.drop_duplicates(inplace = True)

# Drop any retweet related columns
twitter_master.drop(columns = ['retweeted_status_id', 'retweeted_status_user_id',
                                'retweeted_status_timestamp'], inplace = True)

In [412]:
twitter_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 19 columns):
tweet_id                 2175 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null object
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
doggo                    2175 non-null object
floofer                  2175 non-null object
pupper                   2175 non-null object
puppo                    2175 non-null object
favorite                 2174 non-null float64
retweet                  2174 non-null float64
jpg_url                  1994 non-null object
predicted_dog            2175 non-null object
confidence_algore        2175 non-null float64
dtypes: float64(5), int64(3), object(11)
memory usage: 339.8+ KB

In [413]:
# Dropping NaN rows
twitter_master.dropna(subset = ['jpg_url', 'retweet', 'favorite'], inplace = True)

### Test Data Issue 2

In [414]:
twitter_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 2355
Data columns (total 19 columns):
tweet_id                 1993 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                1993 non-null object
source                   1993 non-null object
text                     1993 non-null object
expanded_urls            1993 non-null object
rating_numerator         1993 non-null int64
rating_denominator       1993 non-null int64
name                     1993 non-null object
doggo                    1993 non-null object
floofer                  1993 non-null object
pupper                   1993 non-null object
puppo                    1993 non-null object
favorite                 1993 non-null float64
retweet                  1993 non-null float64
jpg_url                  1993 non-null object
predicted_dog            1993 non-null object
confidence_algore        1993 non-null float64
dtypes: float64(5), int64(3), object(11)
memory usage: 311.4+ KB

### Tidy Data Issue 4

- The four dog description each have there own columns when they should be condensed into a row using the melt function

In [415]:
# index of multiple dog descriptions
tweetid = twitter_master.loc[(twitter_master[['doggo', 'floofer', 'pupper', 'puppo']] != 'None').sum(axis = 1)> 1].tweet_id.tolist()

In [416]:
# Create columns list for the melt function
columns_condensed = ['doggo', 'floofer', 'pupper', 'puppo']
columns_unchanged = []
for x in twitter_master.columns:
    if x not in columns_condensed:
        columns_unchanged.append(x)

In [417]:
# Melt the columns
twitter_master = pd.melt(twitter_master, id_vars = columns_unchanged, value_vars = columns_condensed,
       var_name = 'column_names', value_name = 'dog_description')

In [418]:
# convert into string to locate easier 
tweetid = [str(x) for x in tweetid]
# Convert rows with multiple dog descriptions to 'multiple'
twitter_master.loc[twitter_master['tweet_id'].isin(tweetid), 'dog_description'] = 'multiple'

In [419]:
# Sort the dog description values and then keep the last duplicates in the table 
twitter_master = twitter_master.sort_values('dog_description').drop_duplicates(
    subset = ['tweet_id'], keep = 'last')

In [420]:
# drop 'column_names' column and then reset index
twitter_master.drop(columns = ['column_names'], inplace = True)
twitter_master.reset_index(drop = True, inplace = True)

### Test Data Issue 4

In [421]:
twitter_master.dog_description.value_counts()

None        1687
pupper       203
doggo         63
puppo         22
multiple      11
floofer        7
Name: dog_description, dtype: int64

All the columns for the dog description are in one column. The majority of entries for dog description are 'None'.

## Quality Data Cleaning

### Quality Data Issue 1
No operations will be done on 'tweet_id' ,'in_reply_to_status_id', 'in_reply_to_user_id' columns and should be converted into strings. The 'favorite' and 'retweets' columns should be converted into integers. The timestamp column are easier to manipulate as datetime data types.

- Convert Columns to the appropriate data types

In [422]:
# Change columns from integers/floats to strings
twitter_master = twitter_master.astype({'tweet_id': 'str', 'in_reply_to_status_id': 'str',
                                       'in_reply_to_user_id': 'str'})
# Change columns from floats to integers
twitter_master = twitter_master.astype({'favorite': 'int32', 'retweet':'int32'})
# Change date to datetime
twitter_master['timestamp'] = pd.to_datetime(twitter_master['timestamp'])

### Test Data Issue 1

In [423]:
twitter_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993 entries, 0 to 1992
Data columns (total 16 columns):
tweet_id                 1993 non-null object
in_reply_to_status_id    1993 non-null object
in_reply_to_user_id      1993 non-null object
timestamp                1993 non-null datetime64[ns]
source                   1993 non-null object
text                     1993 non-null object
expanded_urls            1993 non-null object
rating_numerator         1993 non-null int64
rating_denominator       1993 non-null int64
name                     1993 non-null object
favorite                 1993 non-null int32
retweet                  1993 non-null int32
jpg_url                  1993 non-null object
predicted_dog            1993 non-null object
confidence_algore        1993 non-null float64
dog_description          1993 non-null object
dtypes: datetime64[ns](1), float64(1), int32(2), int64(2), object(10)
memory usage: 233.6+ KB

### Quality Data Issue 2

There are certain entries under 'name' columns that are incorrect dog names. Certain dog names are labeled as either 'None', 'is', 'O', 'Such', etc., even when the dog name is presented in the text portion of the tweet. 
- Change dog names that are incorrect

In [424]:
# Create a function that evaluates the fist letter of the name as lower case or 'None'
def islower(x):
    if x[0].islower() or x == 'None':
        return True
    else:
        return False

In [425]:
# Created a different table with dog names that potentially need to be corrected
fix_dogname = twitter_master[twitter_master.name.apply(islower)]

There are 644 rows that have either 'None' or a name starting with a lower case letter. What are all the names?

In [426]:
# Get a value count for all the different names
twitter_master[twitter_master.name.apply(islower)].name.value_counts()

None            546
a                55
the               7
an                6
one               4
very              4
just              3
quite             3
getting           2
incredibly        1
this              1
unacceptable      1
his               1
space             1
officially        1
not               1
actually          1
my                1
all               1
infuriating       1
by                1
such              1
light             1
Name: name, dtype: int64

There are no entries that have any potential dog names in the new dataframe. Using regex, any potential dog names can be extracted into a new data table and then merged back into the original dataframe.

In [427]:
# Create a dataframe with all the corrections
correction = fix_dogname['text'].str.extract(r'that\s([D-Z]\w+)')
correction['second'] = fix_dogname['text'].str.extract(r'name| named\s(\w*\s*[A-Z]\w+)', expand = False)
correction['third'] = fix_dogname['text'].str.extract(r'\whis\sis\s([A-Z]\w+)', expand = False)
correction.rename( columns = {0 : 'first'} , inplace = True)

In [428]:
# Drop rows that do not have any of correction in it and turn NaN values into empty strings
correction.dropna(how = 'all', inplace = True)
correction.replace(np.nan, '', inplace = True)
# Create a final column combining all the corrections from the three columns
correction['name'] = correction['first'] + correction['second'] + correction['third']
correction.head(3)

   first   second third     name
4            Kohl           Kohl
8         Tickles        Tickles
13          Klint          Klint

In [429]:
# any entry that is lowercase becomes 'None'
fix_dogname.loc[:, 'name'] = 'None'
fix_dogname.name.value_counts()

/Users/Erudition/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

None    644
Name: name, dtype: int64

In [430]:
# update the twitter_master dataframe with correction['final'] column
fix_dogname.update(correction['name'])
fix_dogname.name.value_counts()

/Users/Erudition/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:5082: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[col] = expressions.where(mask, this, that)

None         615
Chuk           1
Octaviath      1
Cherokee       1
Johm           1
Jake           1
Berta          1
Alphred        1
Rufus          1
Klint          1
Leroi          1
Zeus           1
Alfredo        1
Jessiga        1
Guss           1
Bretagne       1
Kohl           1
Spork          1
Cheryl         1
Wylie          1
Alfonso        1
Hemry          1
Tickles        1
Kip            1
Pippa          1
Jacob          1
Pepe           1
Toby           1
Yoshi          1
Blue           1
Name: name, dtype: int64

In [431]:
# update the twitter_master dataframe with correction['final'] column
twitter_master.update(fix_dogname)

There are certain entries that do have multiple dog names that were identified in the Tidy Data Issue 4 portion of this report. For the sake of uniformity and time, the dog names should be changed to 'multiple dogs'

In [432]:
twitter_master

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,favorite,retweet,jpg_url,predicted_dog,confidence_algore,dog_description
0,667437278097252352,nan,nan,2015-11-19 20:20:22,Twitter for iPhone,Never seen this breed before. Very pointy pup....,https://twitter.com/dog_rates/status/667437278...,10.0,10.0,None,453.0,243.0,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,NaN,0.000000,None
1,667443425659232256,nan,nan,2015-11-19 20:44:47,Twitter for iPhone,Exotic dog here. Long neck. Weird paws. Obsess...,https://twitter.com/dog_rates/status/667443425...,6.0,10.0,None,797.0,592.0,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,NaN,0.000000,None
2,667453023279554560,nan,nan,2015-11-19 21:22:56,Twitter Web Client,Meet Cupcake. I would do unspeakable things fo...,https://twitter.com/dog_rates/status/667453023...,11.0,10.0,Cupcake,319.0,91.0,https://pbs.twimg.com/media/CUNE_OSUwAAdHhX.jpg,Labrador_retriever,0.825670,None
3,667455448082227200,nan,nan,2015-11-19 21:32:34,Twitter Web Client,This is Reese and Twips. Reese protects Twips....,https://twitter.com/dog_rates/status/667455448...,7.0,10.0,Reese,194.0,60.0,https://pbs.twimg.com/media/CUNHMXTU8AAS3HH.jpg,Tibetan_terrier,0.676376,None
4,667470559035432960,nan,nan,2015-11-19 22:32:36,Twitter Web Client,This is a northern Wahoo named Kohl. He runs t...,https://twitter.com/dog_rates/status/667470559...,11.0,10.0,Kohl,259.0,100.0,https://pbs.twimg.com/media/CUNU78YWEAECmpB.jpg,toy_poodle,0.304175,None
5,667491009379606528,nan,nan,2015-11-19 23:53:52,Twitter Web Client,Two dogs in this one. Both are rare Jujitsu Py...,https://twitter.com/dog_rates/status/667491009...,7.0,10.0,None,540.0,232.0,https://pbs.twimg.com/media/CUNniSlUYAEj1Jl.jpg,borzoi,0.852088,None
6,667495797102141441,nan,nan,2015-11-20 00:12:54,Twitter Web Client,This is Philippe from Soviet Russia. Commandin...,https://twitter.com/dog_rates/status/667495797...,9.0,10.0,Philippe,532.0,280.0,https://pbs.twimg.com/media/CUNr4-7UwAAg2lq.jpg,Chihuahua,0.143957,None
7,667502640335572993,nan,nan,2015-11-20 00:40:05,Twitter Web Client,Say hello to Hall and Oates. Oates is winking ...,https://twitter.com/dog_rates/status/667502640...,11.0,10.0,Hall,539.0,224.0,https://pbs.twimg.com/media/CUNyHTMUYAAQVch.jpg,Labrador_retriever,0.996709,None
8,667509364010450944,nan,nan,2015-11-20 01:06:48,Twitter Web Client,This a Norwegian Pewterschmidt named Tickles. ...,https://twitter.com/dog_rates/status/667509364...,12.0,10.0,Tickles,6876.0,2175.0,https://pbs.twimg.com/media/CUN4Or5UAAAa5K4.jpg,beagle,0.636169,None
9,667517642048163840,nan,nan,2015-11-20 01:39:42,Twitter Web Client,This is Dook &amp; Milo. Dook is struggling to...,https://twitter.com/dog_rates/status/667517642...,8.0,10.0,Dook,374.0,196.0,https://pbs.twimg.com/media/CUN_wiBUkAAakT0.jpg,Italian_greyhound,0.125176,None
10,667524857454854144,nan,nan,2015-11-20 02:08:22,Twitter Web Client,Another topnotch dog. His name is Big Jumpy Ra...,https://twitter.com/dog_rates/status/667524857...,12.0,10.0,None,1728.0,1137.0,https://pbs.twimg.com/media/CUOGUfJW4AA_eni.jpg,Chesapeake_Bay_retriever,0.088122,None
11,667530908589760512,nan,nan,2015-11-20 02:32:25,Twitter Web Client,Meet Naphaniel. He doesn't necessarily enjoy h...,https://twitter.com/dog_rates/status/667530908...,10.0,10.0,Naphaniel,478.0,245.0,https://pbs.twimg.com/media/CUOL0uGUkAAx7yh.jpg,golden_retriever,0.633037,None
12,667534815156183040,nan,nan,2015-11-20 02:47:56,Twitter Web Client,"This is Frank (pronounced ""Fronq""). Too many b...",https://twitter.com/dog_rates/status/667534815...,8.0,10.0,Frank,829.0,552.0,https://pbs.twimg.com/media/CUOPYI5UcAAj_nO.jpg,Pembroke,0.435254,None
13,667538891197542400,nan,nan,2015-11-20 03:04:08,Twitter Web Client,This is a southwest Coriander named Klint. Hat...,https://twitter.com/dog_rates/status/667538891...,9.0,10.0,Klint,209.0,67.0,https://pbs.twimg.com/media/CUOTFZOW4AABsfW.jpg,Yorkshire_terrier,0.618957,None
14,667544320556335104,nan,nan,2015-11-20 03:25:43,Twitter Web Client,"This is Kial. Kial is either wearing a cape, w...",https://twitter.com/dog_rates/status/667544320...,10.0,10.0,Kial,881.0,537.0,https://pbs.twimg.com/media/CUOYBbbWIAAXQGU.jpg,Pomeranian,0.412893,None
15,667546741521195010,nan,nan,2015-11-20 03:35:20,Twitter Web Client,Here is George. George took a selfie of his ne...,https://twitter.com/dog_rates/status/667546741...,9.0,10.0,George,338.0,128.0,https://pbs.twimg.com/media/CUOaOWXWcAA0_Jy.jpg,toy_poodle,0.787424,None
16,667549055577362432,nan,nan,2015-11-20 03:44:31,Twitter Web Client,Never seen dog like this. Breathes heavy. Tilt...,https://twitter.com/dog_rates/status/667549055...,1.0,10.0,None,5885.0,2335.0,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,NaN,0.000000,None
17,667724302356258817,nan,nan,2015-11-20 15:20:54,Twitter Web Client,What a dog to start the day with. Very calm. L...,https://twitter.com/dog_rates/status/667724302...,7.0,10.0,None,492.0,327.0,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,NaN,0.000000,None
18,667728196545200128,nan,nan,2015-11-20 15:36:22,Twitter Web Client,Meet Olive. He comes to spot by tree to remini...,https://twitter.com/dog_rates/status/667728196...,11.0,10.0,Olive,381.0,152.0,https://pbs.twimg.com/media/CUQ_QahUAAAVQjn.jpg,kuvasz,0.360159,None
19,667766675769573376,nan,nan,2015-11-20 18:09:16,Twitter Web Client,This is Calvin. He is a Luxembourgian Mayo. Ha...,https://twitter.com/dog_rates/status/667766675...,9.0,10.0,Calvin,449.0,223.0,https://pbs.twimg.com/media/CURiQMnUAAAPT2M.jpg,NaN,0.000000,None
20,667773195014021121,nan,nan,2015-11-20 18:35:10,Twitter Web Client,This is a rare Hungarian Pinot named Jessiga. ...,https://twitter.com/dog_rates/status/667773195...,8.0,10.0,Jessiga,240.0,58.0,https://pbs.twimg.com/media/CURoLrOVEAAaWdR.jpg,West_Highland_white_terrier,0.360465,None
21,667782464991965184,nan,nan,2015-11-20 19:12:01,Twitter for iPhone,Super rare dog. Endangered (?). Thinks it's fu...,https://twitter.com/dog_rates/status/667782464...,9.0,10.0,None,420.0,250.0,https://pbs.twimg.com/media/CURwm3cUkAARcO6.jpg,NaN,0.000000,None
22,667793409583771648,nan,nan,2015-11-20 19:55:30,Twitter for iPhone,Dogs only please. Small cows and other non can...,https://twitter.com/dog_rates/status/667793409...,8.0,10.0,None,711.0,336.0,https://pbs.twimg.com/media/CUR6jqVWsAEgGot.jpg,dalmatian,0.535073,None
23,667801013445750784,nan,nan,2015-11-20 20:25:43,Twitter for iPhone,OMIGOD 12/10 https://t.co/SVMF4Frf1w,https://twitter.com/dog_rates/status/667801013...,12.0,10.0,None,335.0,97.0,https://pbs.twimg.com/media/CUSBemVUEAAn-6V.jpg,flat-coated_retriever,0.508392,None
24,667806454573760512,nan,nan,2015-11-20 20:47:20,Twitter for iPhone,This is Filup. He is overcome with joy after f...,https://twitter.com/dog_rates/status/667806454...,10.0,10.0,Filup,1071.0,512.0,https://pbs.twimg.com/media/CUSGbXeVAAAgztZ.jpg,Chihuahua,0.187155,None
25,667832474953625600,nan,nan,2015-11-20 22:30:44,Twitter for iPhone,THE EYES 12/10\n\nI'm sorry. These are suppose...,https://twitter.com/dog_rates/status/667832474...,12.0,10.0,None,293.0,63.0,https://pbs.twimg.com/media/CUSeGFNW4AAyyHC.jpg,miniature_pinscher,0.214200,None
26,667861340749471744,nan,nan,2015-11-21 00:25:26,Twitter for iPhone,This is a Shotokon Macadamia mix named Cheryl....,https://twitter.com/dog_rates/status/667861340...,9.0,10.0,Cheryl,244.0,79.0,https://pbs.twimg.com/media/CUS4WJ-UsAEJj10.jpg,malamute,0.967275,None
27,667435689202614272,nan,nan,2015-11-19 20:14:03,Twitter for iPhone,Ermergerd 12/10 https://t.co/PQni2sjPsm,https://twitter.com/dog_rates/status/667435689...,12.0,10.0,None,308.0,84.0,https://pbs.twimg.com/media/CUM1OHCW4AEgGSi.jpg,Rottweiler,0.999091,None
28,667866724293877760,nan,nan,2015-11-21 00:46:50,Twitter for iPhone,This is Shaggy. He knows exactly how to solve ...,https://twitter.com/dog_rates/status/667866724...,10.0,10.0,Shaggy,3053.0,1062.0,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,NaN,0.000000,None
29,667405339315146752,nan,nan,2015-11-19 18:13:27,Twitter for iPhone,This is Biden. Biden just tripped... 7/10 http...,https://twitter.com/dog_rates/status/667405339...,7.0,10.0,Biden,473.0,221.0,https://pbs.twimg.com/media/CUMZnmhUEAEbtis.jpg,Saint_Bernard,0.381377,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963,837110210464448512,nan,nan,2017-03-02 01:20:01,Twitter for iPhone,This is Clark. He passed pupper training today...,https://twitter.com/dog_rates/status/837110210...,13.0,10.0,Clark,16899.0,2594.0,https://pbs.twimg.com/media/C54DS1kXQAEU5pS.jpg,Siberian_husky,0.767696,pupper
1964,808733504066486276,nan,nan,2016-12-13 18:01:07,Twitter for iPhone,Here's a pupper in a onesie. Quite pupset abou...,https://twitter.com/dog_rates/status/808733504...,12.0,10.0,None,8509.0,2398.0,https://pbs.twimg.com/media/Czky0v9VIAEXRkd.jpg,toy_poodle,0.036927,pupper
1965,674638615994089473,nan,nan,2015-12-09 17:15:54,Twitter for iPhone,This pupper is fed up with being tickled. 12/1...,https://twitter.com/dog_rates/status/674638615...,12.0,10.0,None,1736.0,609.0,https://pbs.twimg.com/media/CVzMPh1UsAELQ_p.jpg,Pomeranian,0.846986,pupper
1966,703407252292673536,nan,nan,2016-02-27 02:32:12,Twitter for iPhone,This pupper doesn't understand gates. 10/10 so...,https://twitter.com/dog_rates/status/703407252...,10.0,10.0,None,2594.0,751.0,https://pbs.twimg.com/media/CcMBJODUsAI5-A9.jpg,NaN,0.000000,pupper
1967,692752401762250755,nan,nan,2016-01-28 16:53:37,Twitter for iPhone,"""Hello yes could I get one pupper to go please...",https://twitter.com/dog_rates/status/692752401...,13.0,10.0,None,7205.0,3903.0,https://pbs.twimg.com/tweet_video_thumb/CZ0mhd...,Samoyed,0.471276,pupper
1968,703611486317502464,nan,nan,2016-02-27 16:03:45,Twitter for iPhone,Meet Scooter. He's experiencing the pupper equ...,https://twitter.com/dog_rates/status/703611486...,10.0,10.0,Scooter,4071.0,1629.0,https://pbs.twimg.com/media/CcO66OjXEAASXmH.jpg,Pembroke,0.756441,pupper
1969,836380477523124226,nan,nan,2017-02-28 01:00:19,Twitter for iPhone,This is Ava. She just blasted off. Streamline ...,https://twitter.com/dog_rates/status/836380477...,12.0,10.0,Ava,15537.0,3199.0,https://pbs.twimg.com/media/C5trm6iWgAQ22Hw.jpg,NaN,0.000000,pupper
1970,743222593470234624,nan,nan,2016-06-15 23:24:09,Twitter for iPhone,This is a very rare Great Alaskan Bush Pupper....,https://twitter.com/dog_rates/status/743222593...,12.0,10.0,None,6544.0,2053.0,https://pbs.twimg.com/media/ClB09z0WYAAA1jz.jpg,kuvasz,0.350629,pupper
1971,743253157753532416,nan,nan,2016-06-16 01:25:36,Twitter for iPhone,This is Kilo. He cannot reach the snackum. Nif...,https://twitter.com/dog_rates/status/743253157...,10.0,10.0,Kilo,4475.0,1308.0,https://pbs.twimg.com/media/ClCQzFUUYAA5vAu.jpg,malamute,0.442612,puppo
1972,752519690950500352,nan,nan,2016-07-11 15:07:30,Twitter for iPhone,Hopefully this puppo on a swing will help get ...,https://twitter.com/dog_rates/status/752519690...,11.0,10.0,None,7846.0,3746.0,https://pbs.twimg.com/media/CnF8qVDWYAAh0g1.jpg,Labrador_retriever,0.000010,puppo
1973,819952236453363712,nan,nan,2017-01-13 17:00:21,Twitter for iPhone,This is Oliver. He has dreams of being a servi...,"https://www.gofundme.com/servicedogoliver,http...",13.0,10.0,Oliver,5695.0,1303.0,https://pbs.twimg.com/media/C2EONHNWQAUWxkP.jpg,American_Staffordshire_terrier,0.925505,puppo
1974,874012996292530176,nan,nan,2017-06-11 21:18:31,Twitter for iPhone,This is Sebastian. He can't see all the colors...,https://twitter.com/dog_rates/status/874012996...,13.0,10.0,Sebastian,34273.0,10371.0,https://pbs.twimg.com/media/DCEeLxjXsAAvNSM.jpg,Cardigan,0.806674,puppo
1975,878776093423087618,nan,nan,2017-06-25 00:45:22,Twitter for iPhone,This is Snoopy. He's a proud #PrideMonthPuppo....,https://twitter.com/dog_rates/status/878776093...,13.0,10.0,Snoopy,19192.0,4086.0,https://pbs.twimg.com/media/DDIKMXzW0AEibje.jpg,Italian_greyhound,0.734684,puppo
1976,780931614150983680,nan,nan,2016-09-28 00:46:20,Twitter for iPhone,I want to finally rate this iconic puppo who t...,https://twitter.com/dog_rates/status/780931614...,13.0,10.0,None,23244.0,8093.0,https://pbs.twimg.com/media/CtZtJxAXEAAyPGd.jpg,NaN,0.000000,puppo
1977,825535076884762624,nan,nan,2017-01-29 02:44:34,Twitter for iPhone,Here's a very loving and accepting puppo. Appe...,https://twitter.com/dog_rates/status/825535076...,14.0,10.0,None,55444.0,18818.0,https://pbs.twimg.com/media/C3TjvitXAAAI-QH.jpg,Rottweiler,0.681495,puppo
1978,889665388333682689,nan,nan,2017-07-25 01:55:32,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,13.0,10.0,None,47504.0,9926.0,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,Pembroke,0.966327,puppo
1979,859607811541651456,nan,nan,2017-05-03 03:17:27,Twitter for iPhone,Sorry for the lack of posts today. I came home...,https://twitter.com/dog_rates/status/859607811...,13.0,10.0,None,18831.0,1614.0,https://pbs.twimg.com/media/C-3wvtxXcAUTuBE.jpg,golden_retriever,0.895529,puppo
1980,744995568523612160,nan,nan,2016-06-20 20:49:19,Twitter for iPhone,This is Abby. She got her face stuck in a glas...,https://twitter.com/dog_rates/status/744995568...,9.0,10.0,Abby,3144.0,673.0,https://pbs.twimg.com/media/ClbBg4WWEAMjwJu.jpg,Old_English_sheepdog,0.427481,puppo
1981,793195938047070209,nan,nan,2016-10-31 21:00:23,Twitter for iPhone,Say hello to Lily. She's pupset that her costu...,https://twitter.com/dog_rates/status/793195938...,12.0,10.0,Lily,16469.0,6230.0,https://pbs.twimg.com/media/CwH_foYWgAEvTyI.jpg,Labrador_retriever,0.654762,puppo
1982,889531135344209921,nan,nan,2017-07-24 17:02:04,Twitter for iPhone,This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,13.0,10.0,Stuart,14909.0,2211.0,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,golden_retriever,0.953442,puppo
1983,822872901745569793,nan,nan,2017-01-21 18:26:02,Twitter for iPhone,Here's a super supportive puppo participating ...,https://twitter.com/dog_rates/status/822872901...,13.0,10.0,None,141311.0,48108.0,https://pbs.twimg.com/media/C2tugXLXgAArJO4.jpg,Lakeland_terrier,0.196015,puppo
1984,738537504001953792,nan,nan,2016-06-03 01:07:16,Twitter for iPhone,This is Bayley. She fell asleep trying to esca...,https://twitter.com/dog_rates/status/738537504...,11.0,10.0,Bayley,5372.0,1679.0,https://pbs.twimg.com/media/Cj_P7rSUgAAYQbz.jpg,chow,0.808737,puppo
1985,867421006826221569,nan,nan,2017-05-24 16:44:18,Twitter for iPhone,This is Shikha. She just watched you drop a sk...,https://twitter.com/dog_rates/status/867421006...,12.0,10.0,Shikha,16134.0,2535.0,https://pbs.twimg.com/media/DAmyy8FXYAIH8Ty.jpg,Eskimo_dog,0.616457,puppo
1986,802239329049477120,nan,nan,2016-11-25 19:55:35,Twitter for iPhone,This is Loki. He'll do your taxes for you. Can...,https://twitter.com/dog_rates/status/802239329...,12.0,10.0,Loki,9788.0,2882.0,https://pbs.twimg.com/media/CyIgaTEVEAA-9zS.jpg,Eskimo_dog,0.482498,puppo
1987,751132876104687617,nan,nan,2016-07-07 19:16:47,Twitter for iPhone,This is Cooper. He's just so damn happy. 10/10...,https://twitter.com/dog_rates/status/751132876...,10.0,10.0,Cooper,5399.0,1415.0,https://pbs.twimg.com/media/CmyPXNOW8AEtaJ-.jpg,Labrador_retriever,0.929390,puppo
1988,803773340896923648,nan,nan,2016-11-30 01:31:12,Twitter for iPhone,This is Diogi. He fell in the pool as soon as ...,https://twitter.com/dog_rates/status/803773340...,12.0,10.0,Diogi,10822.0,3066.0,https://pbs.twimg.com/media/CyeTku-XcAALkBd.jpg,miniature_pinscher,0.817066,puppo
1989,756275833623502848,nan,nan,2016-07-21 23:53:04,Twitter for iPhone,When ur older siblings get to play in the deep...,https://twitter.com/dog_rates/status/756275833...,10.0,10.0,None,6855.0,1658.0,https://pbs.twimg.com/media/Cn7U2xlW8AI9Pqp.jpg,Airedale,0.602957,puppo
1990,790946055508652032,nan,nan,2016-10-25 16:00:09,Twitter for iPhone,This is Betty. She's assisting with the dishes...,https://twitter.com/dog_rates/status/790946055...,12.0,10.0,Betty,17916.0,5197.0,https://pbs.twimg.com/media/CvoBPWRWgAA4het.jpg,golden_retriever,0.245773,puppo
1991,825026590719483904,nan,nan,2017-01-27 17:04:02,Twitter for iPhone,Say hello to Pablo. He's one gorgeous puppo. A...,https://www.gofundme.com/my-puppys-double-cata...,12.0,10.0,Pablo,6764.0,1407.0,https://pbs.twimg.com/media/C3MVTeHWcAAGNfx.jpg,Eskimo_dog,0.524454,puppo
1992,787717603741622272,nan,nan,2016-10-16 18:11:26,Twitter for iPhone,This is Tonks. She is a service puppo. Can hea...,https://twitter.com/dog_rates/status/787717603...,13.0,10.0,Tonks,11007.0,3078.0,https://pbs.twimg.com/media/Cu6I9vvWIAAZG0a.jpg,German_shepherd,0.992339,puppo

### Test Data Issue 2

In [433]:
# All the names in the dataset
twitter_master.name.value_counts().index.tolist()

['None',
 'Oliver',
 'Cooper',
 'Lucy',
 'Charlie',
 'Tucker',
 'Penny',
 'Winston',
 'Toby',
 'Sadie',
 'Lola',
 'Daisy',
 'Jax',
 'Stanley',
 'Bo',
 'Koda',
 'Bella',
 'Buddy',
 'Oscar',
 'Leo',
 'Dave',
 'Chester',
 'Louis',
 'Bailey',
 'Rusty',
 'Milo',
 'Scout',
 'Reggie',
 'Jerry',
 'Sophie',
 'Bentley',
 'Clark',
 'Alfie',
 'Duke',
 'Jack',
 'Derek',
 'Gary',
 'Finn',
 'Clarence',
 'Cassie',
 'Larry',
 'Phil',
 'Brody',
 'Winnie',
 'Dexter',
 'Bear',
 'Gus',
 'Oakley',
 'Scooter',
 'George',
 'Maggie',
 'Archie',
 'Chip',
 'Olive',
 'Wyatt',
 'Shadow',
 'Sunny',
 'Vincent',
 'Samson',
 'Riley',
 'Gizmo',
 'Rufus',
 'Max',
 'Lily',
 'Pippa',
 'Walter',
 'Rosie',
 'Boomer',
 'Sebastian',
 'Ellie',
 'Zeke',
 'Jeffrey',
 'Wallace',
 'Mia',
 'Moose',
 'Louie',
 'Steven',
 'Earl',
 'Ruby',
 'Calvin',
 'Otis',
 'Wilson',
 'Malcolm',
 'Beau',
 'Waffles',
 'Bruce',
 'Hank',
 'Loki',
 'Reese',
 'Nala',
 'Jimothy',
 'Sammy',
 'Kyle',
 'Gerald',
 'Zoey',
 'Lincoln',
 'Chipson',
 'Jeph',
 'OliviÃ©r',
 'Theodore',
 'Ollie',
 'Jackson',
 'Opal',
 'Albus',
 'Griffin',
 'Penelope',
 'Ash',
 'CeCe',
 'Olivia',
 'Jiminy',
 'Atticus',
 'Eli',
 'Sugar',
 'Piper',
 'Trooper',
 'Watson',
 'Frank',
 'Chet',
 'Fiona',
 'Franklin',
 'Terry',
 'Django',
 'FlÃ¡vio',
 'Jesse',
 'Doug',
 'Moe',
 'Hammond',
 'Lorenzo',
 'Klevin',
 'Kilo',
 'Keith',
 'Tyr',
 'Cheryl',
 'Pickles',
 'Patrick',
 'Kreg',
 'Neptune',
 'Linda',
 'Yogi',
 'Bisquick',
 'Titan',
 'Jessiga',
 'Mister',
 'Chuckles',
 'Sam',
 'Jimison',
 'Lenny',
 'Dash',
 'Misty',
 'Bob',
 'Frankie',
 'Colby',
 'Gabe',
 'Baxter',
 'Peaches',
 'Reginald',
 'Sarge',
 'Atlas',
 'Lou',
 'Maxaroni',
 'Belle',
 'Kenneth',
 'Luna',
 'Paisley',
 'Abby',
 'Ava',
 'Kevin',
 'Axel',
 'Lennon',
 'Brad',
 'Elliot',
 'Doc',
 'Carl',
 'Benedict',
 'Rocky',
 'Dakota',
 'Bubbles',
 'Phineas',
 'Charles',
 'Coops',
 'Curtis',
 'Nelly',
 'Blue',
 'Sansa',
 'Zeus',
 'Solomon',
 'Coco',
 'Remington',
 'Thumas',
 'Indie',
 'Smokey',
 'Sandy',
 'Herald',
 'Finley',
 'Albert',
 'Cupcake',
 'Alice',
 'Bernie',
 'Benji',
 'Cash',
 'Churlie',
 'Raymond',
 'Calbert',
 'Harold',
 'Maximus',
 'Crystal',
 'Sampson',
 'Romeo',
 'Aspen',
 'Roosevelt',
 'Hunter',
 'Phred',
 'Hobbes',
 'Juno',
 'Herm',
 'Rory',
 'Kirby',
 'Luca',
 'Marley',
 'Odie',
 'Kreggory',
 'Ted',
 'Wally',
 'Panda',
 'Percy',
 'Cody',
 'Torque',
 'Alfonso',
 'Octaviath',
 'Colin',
 'Kaia',
 'Eugene',
 'Laika',
 'Brownie',
 'Skye',
 'Tom',
 'Charleson',
 'Shooter',
 'Tobi',
 'Zeek',
 'Holly',
 'River',
 'Dobby',
 'Lillie',
 'Alfy',
 'Jomathan',
 'Stefan',
 'Jersey',
 'Jake',
 'Bloop',
 'Leonidas',
 'Opie',
 'Oshie',
 'Chadrick',
 'Eevee',
 'Gordon',
 'Boston',
 'Daniel',
 'Mitch',
 'Bell',
 'Kip',
 'Chaz',
 'Enchilada',
 'Cuddles',
 'Mookie',
 'Clifford',
 'Lilly',
 'Kallie',
 'Jo',
 'Jed',
 'Nugget',
 'Bruno',
 'Brockly',
 'Monster',
 'AmÃ©lie',
 'Sailer',
 'Bobb',
 'Strider',
 'Farfle',
 'Ruffles',
 'Dex',
 'Kyro',
 'Socks',
 'Brutus',
 'Jameson',
 'Kody',
 'Gustaf',
 'Shelby',
 'Jarvis',
 'Horace',
 'Tupawc',
 'Severus',
 'Nimbus',
 'Stubert',
 'Mason',
 'Newt',
 'Kona',
 'Maude',
 'FrÃ¶nq',
 'Rhino',
 'Kane',
 'Hanz',
 'Franq',
 'Carly',
 'Marlee',
 'Alexanderson',
 'Jackie',
 'Schnozz',
 'Corey',
 'Moofasa',
 'Lulu',
 'Carter',
 'Flash',
 'Binky',
 'Ralph',
 'Pumpkin',
 'Sparky',
 'Astrid',
 'Willie',
 'Jeffrie',
 'Filup',
 'Bauer',
 'Bruiser',
 'Shaggy',
 'Jeffri',
 'Sprinkles',
 'Chesney',
 'Ito',
 'Rodman',
 'Dixie',
 'Brooks',
 'Meera',
 'Fynn',
 'Apollo',
 'Herschel',
 'Iggy',
 'Klint',
 'Butter',
 'Jarod',
 'Ashleigh',
 'Pinot',
 'Einstein',
 'Randall',
 'Alf',
 'Finnegus',
 'Ronduh',
 'Lenox',
 'Banjo',
 'Kenzie',
 'Margo',
 'Grizz',
 'Fido',
 'Hall',
 'Butters',
 'Canela',
 'Maddie',
 'Pluto',
 'Amy',
 'Dot',
 'Cannon',
 'Harlso',
 'Blipson',
 'Divine',
 'Kirk',
 'Rambo',
 'Sandra',
 'Pablo',
 'Cermet',
 'Mabel',
 'Vixen',
 'Ralphson',
 'Peanut',
 'Evy',
 'Shnuggles',
 'Karma',
 'Banditt',
 'Godzilla',
 'Stu',
 'Rolf',
 'Dotsy',
 'Gin',
 'Akumi',
 'Claude',
 'Doobert',
 'Ambrose',
 'Tonks',
 'Comet',
 'Tedders',
 'Bobbay',
 'Chubbs',
 'Jangle',
 'Buddah',
 'Ace',
 'Chuck',
 'Snicku',
 'Kanu',
 'Obie',
 'Grizzwald',
 'Furzey',
 'Jockson',
 'Ginger',
 'Geno',
 'Bilbo',
 'Crimson',
 'Cali',
 'Crouton',
 'Gromit',
 'Shiloh',
 'Dale',
 'Mingus',
 'Lorelei',
 'Petrick',
 'Leroi',
 'Ziva',
 'Eazy',
 'Layla',
 'Koko',
 'Marq',
 'Dwight',
 'Kevon',
 'Flurpson',
 'Darby',
 'Carper',
 'Aqua',
 'Taco',
 'Fred',
 'Trip',
 'Lambeau',
 'Gert',
 'Herb',
 'Pubert',
 'Crawford',
 'Fiji',
 'Tater',
 'Asher',
 'Jamesy',
 'Spencer',
 'Humphrey',
 'Storkson',
 'Nigel',
 'Betty',
 'Clarkus',
 'Shakespeare',
 'Erik',
 'Rumpole',
 'Sprout',
 'Mairi',
 'Coopson',
 'Timison',
 'Sora',
 'Remy',
 'Karll',
 'Dug',
 'Laela',
 'Adele',
 'Gerbald',
 'Jeb',
 'Glenn',
 'Ralphie',
 'Sage',
 'Clyde',
 'Tayzie',
 'Lolo',
 'Mary',
 'Pupcasso',
 'BeBe',
 'Bungalo',
 'Sweet',
 'Mack',
 'Lucky',
 'Clarq',
 'Kaiya',
 'Ridley',
 'Fwed',
 'Boots',
 'Rupert',
 'Kial',
 'Ivar',
 'Shawwn',
 'Emmie',
 'Reptar',
 'Stephan',
 'Nico',
 'Stormy',
 'Arnie',
 'Ralpher',
 'Yoshi',
 'Tug',
 'Jay',
 'Ester',
 'Bloo',
 'Moreton',
 'Michelangelope',
 'Florence',
 'Jazz',
 'Dante',
 'Kawhi',
 'Bretagne',
 'Birf',
 'Blanket',
 'Luther',
 'Logan',
 'Monkey',
 'Suki',
 'Theo',
 'Jerome',
 'Kathmandu',
 'Kobe',
 'Tyrone',
 'Sully',
 'Coleman',
 'Simba',
 'Beemo',
 'Lupe',
 'Todo',
 'Pancake',
 'DevÃ³n',
 'Griswold',
 'Maisey',
 'Charl',
 'Oreo',
 'Joey',
 'Ebby',
 'Dewey',
 'Anna',
 'Bodie',
 'Julio',
 'Sailor',
 'Kuyu',
 'Willem',
 'Stella',
 'Burt',
 'Billy',
 'Freddery',
 'Klein',
 'Duchess',
 'Dook',
 'Rinna',
 'Strudel',
 'Tilly',
 'Sid',
 'Berta',
 'Nollie',
 'Monty',
 'Venti',
 'Fletcher',
 'Sonny',
 'Bode',
 'Schnitzel',
 'Karl',
 'Beckham',
 'Tiger',
 'Dutch',
 'Rizzo',
 'Grizzie',
 'Pippin',
 'Happy',
 'Brat',
 'Pepe',
 'Mosby',
 'Rey',
 'Zoe',
 'Gunner',
 'Stephanus',
 'Kellogg',
 'Kendall',
 'Shikha',
 'Danny',
 'Bayley',
 'Jessifer',
 'Jordy',
 'Richie',
 'Gidget',
 'Huxley',
 'Hermione',
 'Rose',
 'Kota',
 'Ole',
 'Pip',
 'Crumpet',
 'Bronte',
 'Spark',
 'Pavlov',
 'Acro',
 'Carll',
 'Kloey',
 'Angel',
 'Tove',
 'Maya',
 'Kenny',
 'Mark',
 'Kara',
 'Rocco',
 'Toffee',
 'Benny',
 'Marty',
 'Ralf',
 'Creg',
 'Aldrick',
 'Donny',
 'Rufio',
 'Traviss',
 'Millie',
 'Snoopy',
 'Tommy',
 'Chelsea',
 'Travis',
 'Miley',
 'Staniel',
 'Beebop',
 'Willy',
 'Bones',
 'Miguel',
 'Noosh',
 'Jett',
 'Bookstore',
 'Malikai',
 'Terrenth',
 'Amber',
 'Jebberson',
 'Sobe',
 'Craig',
 'Joshwa',
 'Poppy',
 'Tito',
 'Genevieve',
 'Ron',
 'Major',
 'Quinn',
 'Rumble',
 'Rodney',
 'Andru',
 'Willow',
 'Juckson',
 'O',
 'Ken',
 'Iroh',
 'Zooey',
 'Jazzy',
 'Scott',
 'Murphy',
 'Lucia',
 'Lilli',
 'Jennifur',
 'Champ',
 'Ronnie',
 'Ozzy',
 'Alfredo',
 'Guss',
 'Bubba',
 'Winifred',
 'Brudge',
 'Swagger',
 'Brandonald',
 'Chase',
 'Durg',
 'Diogi',
 'Sojourner',
 'Anakin',
 'Chesterson',
 'Ralphus',
 'Paull',
 'Liam',
 'Eleanor',
 'Mya',
 'Cedrick',
 'Saydee',
 'Robin',
 'Tuco',
 'Josep',
 'Mauve',
 'Smiley',
 'Lipton',
 'Vinscent',
 'Sephie',
 'Fillup',
 'Pilot',
 'Siba',
 'Samsom',
 'Alejandro',
 'Chloe',
 'Arlen',
 'Patch',
 'Remus',
 'Dawn',
 'Lizzie',
 'Davey',
 'Snoop',
 'Norman',
 'Jiminus',
 'Kulet',
 'Rueben',
 'Alexander',
 'Anthony',
 'Johm',
 'Dietrich',
 'Edd',
 'Mike',
 'Link',
 'Timmy',
 'Halo',
 'Rontu',
 'Mimosa',
 'Goliath',
 'Wylie',
 'Huck',
 'Longfellow',
 'Steve',
 'DonDon',
 'Henry',
 'Barclay',
 'Buckley',
 'Vince',
 'Rizzy',
 'Christoper',
 'Ozzie',
 'Bert',
 'Jimbo',
 'Loomis',
 'Trevith',
 'Mollie',
 'Billl',
 'Cleopatricia',
 'Jaycob',
 'GÃ²rdÃ³n',
 'Lassie',
 'Augie',
 'Terrance',
 'Chompsky',
 'Jonah',
 'Ed',
 'Walker',
 'Emanuel',
 'Tassy',
 'Rorie',
 'Covach',
 'Hurley',
 'Al',
 'Ben',
 'Baloo',
 'DayZ',
 'Lugan',
 'Bradlay',
 'Yoda',
 'Zara',
 'Antony',
 'Heinrich',
 'JD',
 'Keet',
 'Baron',
 'Gilbert',
 'Hector',
 'Orion',
 'Brady',
 'Timber',
 'Cheesy',
 'Alphred',
 'Berb',
 'Harrison',
 'Grady',
 'Odin',
 'Edgar',
 'Cal',
 'Caryl',
 'Deacon',
 'Nida',
 'Batdog',
 'Julius',
 'Sunshine',
 'Aiden',
 'Sky',
 'Fizz',
 'Jim',
 'Hercules',
 'Kingsley',
 'Dudley',
 'Tango',
 'Olaf',
 'Tyrus',
 'Katie',
 'Hubertson',
 'Tickles',
 'Tino',
 'Bluebert',
 'Maxwell',
 'Molly',
 'Autumn',
 'Cherokee',
 'Tedrick',
 'Howie',
 'Milky',
 'Grey',
 'Timofy',
 'Kohl',
 'Aubie',
 'Chuk',
 'Marvin',
 'Biden',
 'Jacob',
 'Callie',
 'Wishes',
 'Brian',
 'Leonard',
 'Rooney',
 'Thor',
 'Bobby',
 'Cilantro',
 'Wiggles',
 'Aja',
 'Jeremy',
 'Hemry',
 'Puff',
 'Reagan',
 'Mo',
 'Ricky',
 'Meyer',
 'General',
 'Obi',
 'Mojo',
 'Tebow',
 'Mattie',
 'Mutt',
 'Georgie',
 'Brandy',
 'Clybe',
 'William',
 'Beya',
 'Livvie',
 'Philbert',
 'Scruffers',
 'Pipsy',
 'Emma',
 'Glacier',
 'Godi',
 'Geoff',
 'Hamrick',
 'Snickers',
 'Napolean',
 'Ulysses',
 'Striker',
 'Perry',
 'Chef',
 'Harvey',
 'Spanky',
 'Tanner',
 'Pawnd',
 'Damon',
 'Darrel',
 'Superpup',
 'Skittles',
 'Taz',
 'Kramer',
 'Stark',
 'Mona',
 'Dylan',
 'Stuart',
 'Carbon',
 'Bonaparte',
 'Darla',
 'Blu',
 'Lili',
 'Rilo',
 'Wafer',
 'Cupid',
 'Spork',
 'Lance',
 'Cecil',
 'Dido',
 'Jareld',
 'Chuq',
 'Blitz',
 'Derby',
 'Hazel',
 'Brandi',
 'Levi',
 'Kayla',
 'Lilah',
 'Arya',
 'Eriq',
 'Dunkin',
 'Pepper',
 'Vinnie',
 'Fabio',
 'Andy',
 'Eve',
 'Bobble',
 'Jaspers',
 'Rover',
 'Edmund',
 'Harnold',
 'Bradley',
 'Tycho',
 'Kollin',
 'Bowie',
 'Blakely',
 'Lacy',
 'Roscoe',
 'Shadoe',
 'Raphael',
 'Keurig',
 'Philippe',
 'Rubio',
 'Pete',
 'Goose',
 'Tuck',
 'Hero',
 'Leela',
 'Berkeley',
 'Meatball',
 'Bertson',
 'Dallas',
 'Naphaniel',
 'Stewie',
 'Wesley',
 'Sundance',
 'Emmy',
 'Trigger',
 'Sierra',
 'Mac',
 'Maks',
 'RalphÃ©',
 'Duddles',
 'Arnold',
 'Cora',
 'Arlo',
 'Harper',
 'Harry',
 'Ike',
 'Noah',
 'Zuzu',
 'Barney',
 'Tripp',
 'Tess',
 'Tessa',
 'Chevy',
 'Gustav']

### Quality Data Issue 4 

The in_repy_to_status_id and in_reply_to_user_id columns are not necessary for any analysis and can be dropped.

In [434]:
twitter_master.drop(['in_reply_to_status_id', 'in_reply_to_user_id'], 1, inplace = True)

### Test Data Issue 4

In [435]:
twitter_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993 entries, 0 to 1992
Data columns (total 14 columns):
tweet_id              1993 non-null object
timestamp             1993 non-null datetime64[ns]
source                1993 non-null object
text                  1993 non-null object
expanded_urls         1993 non-null object
rating_numerator      1993 non-null float64
rating_denominator    1993 non-null float64
name                  1993 non-null object
favorite              1993 non-null float64
retweet               1993 non-null float64
jpg_url               1993 non-null object
predicted_dog         1993 non-null object
confidence_algore     1993 non-null float64
dog_description       1993 non-null object
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 218.1+ KB

###  Quality Data Issue 5

Rename columns for better description

In [436]:
twitter_master.rename(columns = {'timestamp': 'tweet_date', 'source': 'tweet_source', 'text': 'tweet_text', 
                                        'expanded_urls': 'tweet_url','name': 'dog_name', 'jpg_url': 'tweet_picture', 
                                        'favorite': 'tweet_favorites', 'retweet': 'tweet_retweets',
                                        'prediction_algorithm' : 'dog_breed', 'confidence_algore': 'algorithm_confidence'}, inplace = True)

### Test Data Issue 5

In [437]:
twitter_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993 entries, 0 to 1992
Data columns (total 14 columns):
tweet_id                1993 non-null object
tweet_date              1993 non-null datetime64[ns]
tweet_source            1993 non-null object
tweet_text              1993 non-null object
tweet_url               1993 non-null object
rating_numerator        1993 non-null float64
rating_denominator      1993 non-null float64
dog_name                1993 non-null object
tweet_favorites         1993 non-null float64
tweet_retweets          1993 non-null float64
tweet_picture           1993 non-null object
predicted_dog           1993 non-null object
algorithm_confidence    1993 non-null float64
dog_description         1993 non-null object
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 218.1+ KB

###  Quality Data Issue 6

Correct ratings

Narrow the dataframe to incorporate denominator values that are not 10.0.

In [438]:
twitter_master.loc[twitter_master['rating_denominator'] != 10].rating_denominator.value_counts()

50.0     3
80.0     2
11.0     2
170.0    1
150.0    1
70.0     1
20.0     1
7.0      1
120.0    1
40.0     1
90.0     1
130.0    1
110.0    1
2.0      1
Name: rating_denominator, dtype: int64

After comparing the twitter_text with each rating_denominator value, the values that were a mismatch were manually corrected.

In [442]:
# Manual correction of each rating denominator incorrectly labled
twitter_master.loc[twitter_master['rating_denominator']== 2.0, 'rating_denominator'] = 10
twitter_master.loc[twitter_master['rating_denominator']== 11.0, 'rating_denominator'] = 10
twitter_master.loc[twitter_master['rating_denominator']== 7.0, 'rating_denominator'] = np.nan
twitter_master.loc[twitter_master['dog_name']== 'Bluebert', 'rating_denominator'] = 10

In [443]:
twitter_master.loc[twitter_master['rating_denominator'] != 10].rating_denominator.value_counts()

50.0     2
80.0     2
None     1
110.0    1
170.0    1
90.0     1
150.0    1
40.0     1
120.0    1
70.0     1
20.0     1
130.0    1
Name: rating_denominator, dtype: int64

## Storing Data

In [475]:
twitter_master.to_csv('twitter_archive_master.csv', index=False, encoding = 'utf-8')
twitter_master = pd.read_csv('twitter_archive_master.csv')
twitter_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993 entries, 0 to 1992
Data columns (total 14 columns):
tweet_id                1993 non-null int64
tweet_date              1993 non-null object
tweet_source            1993 non-null object
tweet_text              1993 non-null object
tweet_url               1993 non-null object
rating_numerator        1993 non-null float64
rating_denominator      1993 non-null object
dog_name                1993 non-null object
tweet_favorites         1993 non-null float64
tweet_retweets          1993 non-null float64
tweet_picture           1993 non-null object
predicted_dog           1685 non-null object
algorithm_confidence    1993 non-null float64
dog_description         1993 non-null object
dtypes: float64(4), int64(1), object(9)
memory usage: 218.1+ KB